---
import Layout from "~/layouts/Layout.astro"
import Header from "~/components/Header.astro"
import Generator from "~/components/Generator"
import "~/styles/global.css"
import "@unocss/reset/tailwind.css"
import "katex/dist/katex.min.css"
import "highlight.js/styles/atom-one-dark.css"
---
<meta name="baidu_union_verify" content="a54a8beca41ce58f0216af6bc7d05b3c">
<Layout title="ChatGPT">
  <main>
    <Header />
    <Generator client:load />
  </main>
</Layout>
