---
import Layout from "~/layouts/Layout.astro"
import Header from "~/components/Header.astro"
import Generator from "~/components/Generator"
import "~/styles/global.css"
import "@unocss/reset/tailwind.css"
import "katex/dist/katex.min.css"
import "highlight.js/styles/atom-one-dark.css"
---
<Layout title="ChatGPT">
  <main>
    <Header />
    <meta name="baidu_union_verify" content="0ec1d993f4c402a58f463cf6f8cf0f03">
    <Generator client:load />
  </main>
</Layout>
